<h2 mat-dialog-title>Are you sure?</h2>

<mat-dialog-content class="mat-typography">
  <form class="modal-form">

    <p>
      This will make the {{ project.name }} project, entries, commits, comments read-only and disable the API access any
      changes. <br/>
      Once archived, you can unarchive the repository at any time. <br/>
      Please type <b>{{ project.name }}</b> to confirm.
    </p>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Project Name</mat-label>
      <input [(ngModel)]="projectNameConfirmation" id="name" matInput name="name" required>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions style="justify-content: center; margin-bottom: 0;">
  <button (click)="close()" mat-button mat-dialog-close>Cancel</button>
  <button (click)="archiveProject()" [disabled]="projectNameConfirmation !== project.name" color="warn" mat-dialog-close
          mat-flat-button style="color: white;">
    Archive this project
  </button>
</mat-dialog-actions>
