<h2 mat-dialog-title>Are you sure?</h2>

<mat-dialog-content class="mat-typography">
  <form class="modal-form">

    <p>
      This action cannot be undone.<br/>
      This will permanently delete the {{ organization.name }} organization and all related content.<br/>
      Please type <b>{{ organization.name }}</b> to confirm.
    </p>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Organization Name</mat-label>
      <input [(ngModel)]="organizationNameConfirmation" id="name" matInput name="name" required>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions style="justify-content: center; margin-bottom: 0;">
  <button (click)="close()" mat-button mat-dialog-close>Cancel</button>
  <button (click)="deleteProject()" [disabled]="organizationNameConfirmation !== organization.name" color="warn"
          mat-dialog-close mat-flat-button style="color: white;">
    I understand the consequences, delete this organization
  </button>
</mat-dialog-actions>
