<div class="content" role="main" style="align-items: unset;">

  <div class="row back-to-home">
    <a [href]="config.publicWeb.hostname" class="col-12 mat-primary-text">
      <svg height="12.784" viewBox="0 0 7.308 12.784" width="7.308" xmlns="http://www.w3.org/2000/svg">
        <path
            d="M162.211,94.478l4.837-4.833a.914.914,0,0,0-1.294-1.29l-5.48,5.476a.912.912,0,0,0-.027,1.26l5.5,5.514a.914.914,0,0,0,1.294-1.29Z"
            fill="#02CFFC"
            id="ios-arrow-back" transform="translate(-160.008 -88.087)"/>
      </svg>
      <span style="vertical-align: text-bottom; margin-left: 8px;">Back to Home</span>
    </a>
  </div>

  <div class="row">
    <h1 class="col-12" style="text-align: center">
      <img alt="Locale Hub logo" src="assets/logo-white.svg"
           style="vertical-align: middle"/>
      <span style="vertical-align: middle; margin-left: 12px;">Locale Hub</span>
    </h1>
  </div>

  <div class="row">
    <mat-tab-group animationDuration="0ms" dynamicHeight mat-stretch-tabs>
      <mat-tab class="col-12 row" label="Login">
        <div class="row modal-form">
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="email" id="email" matInput name="email" required type="email">
          </mat-form-field>

          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="password" id="name" matInput name="name" required type="password">
          </mat-form-field>

          <div class="col-12 center">
            <button (click)="login()" [disabled]="loginInProgress"
                    color="primary"
                    mat-raised-button
                    style="width: 100%; margin-bottom: 12px"
            >Login
            </button>

            <a class="col-12 mat-warn-text" routerLink="/password-reset">
              Forgot Password?
            </a>
          </div>
        </div>
      </mat-tab>

      <mat-tab class="col-12 row" label="Register">
        <div class="row modal-form">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Name</mat-label>
            <input [(ngModel)]="name" matInput name="name" required type="text">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="email" matInput name="email" required type="email">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input [(ngModel)]="password" matInput name="password" required type="password">
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirm password</mat-label>
            <input [(ngModel)]="password2" matInput required type="password">
          </mat-form-field>

          <div class="col-12 center" style="padding: 0;">
            <button (click)="register()"
                    [disabled]="registerInProgress || undefined === password || password !== password2"
                    color="primary"
                    mat-raised-button
                    style="width: 100%;"
            >Register
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div *ngIf="loginInProgress" class="col-12 col-md-12 col-lg-12">
      <mat-spinner color="accent" style="margin: auto;"></mat-spinner>
    </div>
  </div>

</div>
