<div class="row">
  <h1>Overview</h1>
</div>

<div class="row">
  <div *ngIf="data && data.deployedCommit" class="col-sm-12 col-md-3">
    <mat-card style="height: calc(100% - 24px);">
      <mat-card-content>
        <p class="mat-primary-text">Deployed commit</p>
        <mat-card-subtitle>Title: {{ data.deployedCommit.title }}</mat-card-subtitle>
      </mat-card-content>
      <span *ngIf="data.deployedCommit.description">Description: {{ data.deployedCommit.description }}</span>
    </mat-card>
  </div>

  <div *ngIf="data && data.progress" class="col-sm-12 col-md-9">
    <mat-card>
      <p class="title mat-primary-text">Translation progress</p>
      <div *ngFor="let key of objectKeys(data.progress)" class="progress-container row">
        <span class="title col-sm-12 col-md-2">
          <span class="key">{{ key }}</span>
          <span class="progress">{{ data.progress[key] * 100 }}%</span>
        </span>
        <span class="col-sm-12 col-md-10">
        <mat-progress-bar class="progress full-width" mode="determinate"
                          value="{{ data.progress[key] * 100 }}">
        </mat-progress-bar>
        </span>
      </div>
    </mat-card>
  </div>
</div>

<div *ngIf="data && (data.deployedCommit || data.progress)" class="row">
  <h3>Actions</h3>
</div>

<div class="row">

  <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
    <mat-card routerLink="../i18n">
      <img alt="Translate image" mat-card-image src="../../../../assets/images/shared_goals.svg">
      <mat-card-content>
        <mat-card-title>Translate</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="sdkFeatureEnabled" class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
    <mat-card routerLink="../apps">
      <img alt="Add apps image" mat-card-image src="../../../../assets/images/progressive_app.svg">
      <mat-card-content>
        <mat-card-title>App management</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
    <mat-card routerLink="../users">
      <img alt="Add member image" mat-card-image src="../../../../assets/images/selecting_team.svg">
      <mat-card-content>
        <mat-card-title>Team management</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3">
    <mat-card (click)="openSdkDocumentation()">
      <img alt="Integration documentation image" mat-card-image src="../../../../assets/images/programmer.svg">
      <mat-card-content>
        <mat-card-title>Integrations</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

</div>
