@import "../../../../colors";

button.user-add {
  padding: 4px 36px;
}

.cards-container {
  padding: 0;
  margin-bottom: 24px;
  border-radius: 8px;
}

.users-header {
  background-color: $background-dark;
  color: white;
  font-weight: 500;
  margin-bottom: 32px;
  border-radius: 8px 8px 0 0;
}

.user-row {
  background-color: $background-dark;
  border-radius: 4px;
  box-shadow: unset;
  margin: 12px 0;
  padding: 0;
}

.user-row:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.user-item {
  font-weight: 500;
  font-size: 1rem;
}

.user-item span {
  outline: none;
  color: $primary-color;
}

.user-item span:hover {
  cursor: pointer;
}

mat-card {
  margin-bottom: 0;
  border-radius: 0;
  background: transparent; // required to shows the entry status
}

mat-card > span.row {
  height: fit-content;
  margin-top: 3px;
}

mat-card > span.row > span {
  margin: auto;
}

mat-card button {
  margin-top: -10px;
}
