<h2 mat-dialog-title>Add new locale</h2>

<mat-dialog-content class="mat-typography">
  <form class="modal-form">
    <mat-form-field *ngIf="locales" appearance="fill" class="full-width">
      <mat-label>Select a locale</mat-label>
      <input [formControl]="myControl" [matAutocomplete]="autocomplete" matInput
             placeholder="French, English, ..." type="text">
      <mat-autocomplete #autocomplete class="full-width">
        <mat-option (click)="selectedLocale = locale.tag" *ngFor="let locale of filteredLocales | async"
                    [value]="locale.name">
          {{ locale.tag }} - {{ locale.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <app-file-upload
        [(file)]="file"
        accept=".json, .xml, .strings"
    ></app-file-upload>
  </form>

</mat-dialog-content>

<mat-dialog-actions style="justify-content: center; margin-bottom: 0;">
  <button (click)="close()" mat-button>Cancel</button>
  <button (click)="addLocale()" [disabled]="!selectedLocale" color="primary" mat-flat-button>
    Add this locale
  </button>
</mat-dialog-actions>
