<div class="notification-wrapper">
  <button (click)="toggleNotification()" class="notification-btn" mat-button>
    <mat-icon *ngIf="undefined === allNotifications || 0 === newNotificationsCount()"
    >notifications
    </mat-icon>
    <mat-icon *ngIf="undefined !== allNotifications && 0 !== newNotificationsCount()"
              [matBadge]="newNotificationsCount()" matBadgeColor="primary"
              matBadgePosition="before"
    >notifications
    </mat-icon>
  </button>

  <div *ngIf="opened" class="notification-container"
  >
    <div class="notification-header">
      <button (click)="showStatus = notificationStatus.UNREAD" [class.active]="notificationStatus.UNREAD === showStatus"
              class="notification-btn"
              mat-flat-button>
        Unread notifications
      </button>
      <button (click)="showStatus = notificationStatus.READ" [class.active]="notificationStatus.READ === showStatus"
              class="notification-btn"
              mat-flat-button>
        Archived
      </button>
    </div>

    <div class="notification-content">
      <div *ngIf="0 === listByStatus(showStatus).length"
           class="notification-card empty row">
        <span class="col-12" style="text-align: center;">All clear!</span>
        <img alt="Firework image" class="offset-1 col-10" mat-card-image
             src="../../../../assets/images/fireworks.svg">
      </div>

      <mat-card *ngFor="let notification of listByStatus(showStatus)" class="notification-card">
        <div class="title-container">
          <mat-card-title>
            {{
              (notification.title.length > 32)
                  ? (notification.title | slice:0:29) + '...'
                  : (notification.title)
            }}
          </mat-card-title>
          <div class="description">
            {{
              (notification.text?.length > 32)
                  ? (clearText(notification.text) | slice:0:29) + '...'
                  : clearText(notification.text)
            }}
          </div>
        </div>
        <div class="right-actions">
          <mat-card-content>
            {{ notification.createdAt | date: 'yyyy/MM/dd \n hh:mm' }}
          </mat-card-content>
          <mat-card-actions>
            <button (click)="show(notification)" class="notification-action"
                    mat-icon-button>
              <mat-icon>visibility</mat-icon>
            </button>
            <a [href]="notification.link" [style.visibility]="null !== notification.link ? 'visible' : 'hidden'"
               class="notification-action"
               mat-icon-button>
              <mat-icon>read_more</mat-icon>
            </a>
            <button (click)="discard(notification.id)" *ngIf="notificationStatus.UNREAD === showStatus"
                    class="notification-action delete"
                    mat-icon-button>
              <mat-icon>archive</mat-icon>
            </button>
          </mat-card-actions>
        </div>
      </mat-card>

    </div>
  </div>
</div>
