<mat-drawer-container class="example-container">
  <mat-drawer [class.hidden]="!isUserAuthenticated" [class.mat-drawer-reduced]="isReducedMenu" mode="side" opened>
    <div class="title">
      <img alt="Locale Hub logo" src="../assets/logo-white.svg" width="40">
      <h1 *ngIf="!isReducedMenu">Locale Hub</h1>
    </div>

    <button color="primary" mat-button routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span *ngIf="!isReducedMenu">Dashboard</span>
    </button>

    <button (click)="showOrganizations = !showOrganizations" *ngIf="organizations" color="primary" mat-button>
      <mat-icon>account_balance</mat-icon>
      <span *ngIf="!isReducedMenu">Organizations</span>
      <mat-icon *ngIf="!isReducedMenu">keyboard_arrow_down</mat-icon>
    </button>
    <div *ngIf="showOrganizations && !isReducedMenu">
      <button *ngFor="let organization of organizations; trackBy: trackByOrganizationId"
              [routerLinkActiveOptions]="{exact: false}"
              [routerLink]="['/organizations', organization.id]"
              class="mat-primary sub-menu" mat-menu-item
              routerLinkActive="active"
      >
        — {{ organization.name }}
      </button>
    </div>

    <button (click)="showProjects = !showProjects" *ngIf="projects" color="primary" mat-button>
      <mat-icon>view_column</mat-icon>
      <span *ngIf="!isReducedMenu">Projects</span>
      <mat-icon *ngIf="!isReducedMenu">keyboard_arrow_down</mat-icon>
    </button>
    <div *ngIf="showProjects && !isReducedMenu">
      <button *ngFor="let project of projects; trackBy: trackByProjectId" [routerLinkActiveOptions]="{exact: false}"
              [routerLink]="['/projects', project.id]"
              class="mat-primary sub-menu" mat-menu-item
              routerLinkActive="active"
      >
        — {{ project.name }}
      </button>
    </div>

    <button (click)="openSdkDocumentation()" class="documentation" color="primary" mat-button>
      <mat-icon>description</mat-icon>
      <span *ngIf="!isReducedMenu">Documentation</span>
      <mat-icon *ngIf="!isReducedMenu" style="margin-left: 4px">open_in_new</mat-icon>
    </button>

    <button (click)="isReducedMenu = !isReducedMenu" [class.menu-reducer-btn-reduced]="isReducedMenu"
            class="extend-close-navbar-btn"
            mat-icon-button
            style="z-index: 13;">
      <mat-icon *ngIf="isReducedMenu">chevron_right</mat-icon>
      <mat-icon *ngIf="!isReducedMenu">chevron_left</mat-icon>
    </button>

    <footer *ngIf="!isReducedMenu">
      <a [href]="config.publicWeb.hostname + config.publicWeb.releasesRoute + '/' + version" target="_blank">
        version: {{ version }}
      </a>
    </footer>
  </mat-drawer>

  <mat-drawer-content [class.mat-drawer-opened-margin]="isUserAuthenticated"
                      [class.no-margin]="!isUserAuthenticated"
                      [style]="isUserAuthenticated ? (isReducedMenu ? 'margin-left: 64px;' : '') : 'margin-left: 0;'">
    <!-- Toolbar -->
    <mat-toolbar *ngIf="isUserAuthenticated" class="toolbar" color="primary" role="banner">
      <span class="spacer"></span>

      <app-notification-center></app-notification-center>
      <button [matMenuTriggerFor]="createMenu" mat-button>
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #createMenu xPosition="before">
        <button (click)="openCreateProjectDialog()" class="mat-primary profile" mat-menu-item>
          Project
        </button>
        <button (click)="openCreateOrganizationDialog()" class="mat-primary profile" mat-menu-item>
          Organization
        </button>
      </mat-menu>

      <button [matMenuTriggerFor]="userMenu" mat-button>
        <app-avatar [user]="authService.user()"></app-avatar>
      </button>
      <mat-menu #userMenu xPosition="before">
        <button class="mat-primary profile" mat-menu-item routerLink="/profile">
          Profile
        </button>
        <button (click)="logout()" class="mat-warn-text" mat-menu-item>Logout</button>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

