<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened [class.hidden]="!isUserAuthenticated" [class.mat-drawer-reduced]="isReducedMenu">
    <div class="title">
      <img src="../assets/logo-white.svg" width="40" alt="Locale Hub logo">
      <h1 *ngIf="!isReducedMenu">Locale Hub</h1>
    </div>

    <button mat-button color="primary" routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span *ngIf="!isReducedMenu">Dashboard</span>
    </button>

    <button *ngIf="organizations" mat-button color="primary" (click)="showOrganizations = !showOrganizations">
      <mat-icon>account_balance</mat-icon>
      <span *ngIf="!isReducedMenu">Organizations</span>
      <mat-icon *ngIf="!isReducedMenu">keyboard_arrow_down</mat-icon>
    </button>
    <div *ngIf="showOrganizations && !isReducedMenu">
      <button *ngFor="let organization of organizations; trackBy: trackByOrganizationId" mat-menu-item class="mat-primary sub-menu"
              [routerLink]="['/organizations', organization.id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
      >
        — {{ organization.name }}
      </button>
    </div>

    <button *ngIf="projects" mat-button color="primary" (click)="showProjects = !showProjects">
      <mat-icon>view_column</mat-icon>
      <span *ngIf="!isReducedMenu">Projects</span>
      <mat-icon *ngIf="!isReducedMenu">keyboard_arrow_down</mat-icon>
    </button>
    <div *ngIf="showProjects && !isReducedMenu">
      <button *ngFor="let project of projects; trackBy: trackByProjectId" mat-menu-item class="mat-primary sub-menu"
              [routerLink]="['/projects', project.id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}"
      >
        — {{ project.name }}
      </button>
    </div>

    <button mat-button color="primary" class="documentation" (click)="openSdkDocumentation()">
      <mat-icon>description</mat-icon>
      <span *ngIf="!isReducedMenu">Documentation</span>
      <mat-icon *ngIf="!isReducedMenu" style="margin-left: 4px">open_in_new</mat-icon>
    </button>

    <button mat-icon-button class="extend-close-navbar-btn" style="z-index: 13;" (click)="isReducedMenu = !isReducedMenu"
      [class.menu-reducer-btn-reduced]="isReducedMenu">
      <mat-icon *ngIf="isReducedMenu">chevron_right</mat-icon>
      <mat-icon *ngIf="!isReducedMenu">chevron_left</mat-icon>
    </button>

    <footer *ngIf="!isReducedMenu">
      <a [href]="config.publicWeb.hostname + config.publicWeb.releasesRoute + '/' + version" target="_blank">
        version: {{ version }}
      </a>
    </footer>
  </mat-drawer>

  <mat-drawer-content [style]="isUserAuthenticated ? (isReducedMenu ? 'margin-left: 64px;' : '') : 'margin-left: 0;'"
                      [class.mat-drawer-opened-margin]="isUserAuthenticated"
                      [class.no-margin]="!isUserAuthenticated">
    <!-- Toolbar -->
    <mat-toolbar *ngIf="isUserAuthenticated" class="toolbar" role="banner" color="primary">
      <span class="spacer"></span>

      <app-notification-center></app-notification-center>
      <button mat-button [matMenuTriggerFor]="createMenu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #createMenu xPosition="before">
        <button mat-menu-item class="mat-primary profile" (click)="openCreateProjectDialog()">
          Project
        </button>
        <button mat-menu-item class="mat-primary profile" (click)="openCreateOrganizationDialog()">
          Organization
        </button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="userMenu">
        <app-avatar [user]="authService.user()"></app-avatar>
      </button>
      <mat-menu #userMenu xPosition="before">
        <button mat-menu-item routerLink="/profile" class="mat-primary profile">
          Profile
        </button>
        <button mat-menu-item class="mat-warn-text" (click)="logout()">Logout</button>
      </mat-menu>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

