<div class="content" role="main" style="align-items: unset;">
  <div *ngIf="projects" class="row" style="margin-top: 64px;">

    <div class="col-12 cards-container">
      <mat-card class="col-12 mat-elevation-z0 row projects-header">
            <span class="row">
                <span class="col-7">Project Name</span>
                <span class="col-2 center">Status</span>
                <span class="col-2 center">Creation Date</span>
                <span class="col-1 center"><!-- Actions --></span>
            </span>
      </mat-card>

      <div *ngFor="let project of projects; trackBy: trackByProjectId" class="project-row">
        <mat-card class="col-12 mat-elevation-z0 row">
                <span class="row">
                    <span class="col-7 project-item">
                        <span [routerLink]="['/organizations', project.organizationId, 'projects']">
                            {{ organizationName(project.organizationId) }}
                        </span>
                        /
                        <span [routerLink]="['/projects', project.id]">
                            {{ project.name }}
                        </span>
                    </span>
                    <span class="col-2">
                        <span>{{ getProgress(project.id) }}%</span>
                        <mat-progress-bar [value]="getProgress(project.id)" color="primary" mode="determinate">
                        </mat-progress-bar>
                    </span>
                    <span class="col-2 center">{{ project.createdAt | date: 'dd/MM/yyyy' }}</span>
                    <span class="col-1 center">
                        <button [matMenuTriggerFor]="projectActionMenu" mat-icon-button>
                            <mat-icon>more_horiz</mat-icon>
                        </button>
                        <mat-menu #projectActionMenu xPosition="before">
                          <button (click)="openDeleteDialogForProject(project)" class="mat-warn-text" mat-menu-item>Delete</button>
                        </mat-menu>
                    </span>
                </span>
        </mat-card>
      </div>
    </div>

  </div>
</div>
