<div class="content" role="main" style="align-items: unset;">

  <div class="row">
    <h1 class="col-12">Password reset request</h1>
    <p class="col-12">
      Please give us your email address so we can send you a link to reset your password.
      <br/>
      This is required to ensure nobody else than you is actually resetting your password.
    </p>

    <div class="modal-form col-12 col-md-12 col-lg-12">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="email" id="email" matInput name="email" required type="email">
      </mat-form-field>

      <button (click)="sendResetPasswordRequest()" color="primary" mat-raised-button>Send email</button>
      <a class="mat-warn-text" routerLink="/login">Go back to login</a>
    </div>
  </div>

</div>
