<mat-drawer-container>

  <mat-drawer *ngIf="project" [class.mat-drawer-reduced]="isReducedMenu" mode="side" opened>
    <div [class.mat-drawer-reduced]="isReducedMenu" class="title">
      <h1 *ngIf="!isReducedMenu">{{ project.name }}</h1>
      <h1 *ngIf="isReducedMenu">{{ project.name[0] }}</h1>
    </div>


    <button [routerLink]="['/projects', project.id, 'overview']" mat-button routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span *ngIf="!isReducedMenu">Overview</span>
    </button>

    <button [routerLink]="['/projects', project.id, 'i18n']" mat-button routerLinkActive="active">
      <mat-icon>translate</mat-icon>
      <span *ngIf="!isReducedMenu">Translation</span>
    </button>

    <button [routerLink]="['/projects', project.id, 'exports']" mat-button routerLinkActive="active">
      <mat-icon>import_export</mat-icon>
      <span *ngIf="!isReducedMenu">Import/Export</span>
    </button>

    <button [routerLink]="['/projects', project.id, 'users']" mat-button routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span *ngIf="!isReducedMenu">Users</span>
    </button>

    <button [routerLink]="['/projects', project.id, 'commits']" mat-button routerLinkActive="active">
      <mat-icon>upload</mat-icon>
      <span *ngIf="!isReducedMenu">Commits</span>
    </button>

    <button *ngIf="sdkFeatureEnabled" [routerLink]="['/projects', project.id, 'apps']" mat-button
            routerLinkActive="active">
      <mat-icon>apps</mat-icon>
      <span *ngIf="!isReducedMenu">Applications</span>
    </button>

    <button [routerLink]="['/projects', project.id, 'settings']" mat-button routerLinkActive="active">
      <mat-icon>tunes</mat-icon>
      <span *ngIf="!isReducedMenu">Settings</span>
    </button>

    <mat-divider></mat-divider>

    <button (click)="leaveProject()" class="project-leave" mat-button>
      <mat-icon>exit_to_app</mat-icon>
      <span *ngIf="!isReducedMenu">Leave Project</span>
    </button>

    <button (click)="isReducedMenu = !isReducedMenu" [class.menu-reducer-btn-reduced]="isReducedMenu"
            class="extend-close-navbar-btn"
            mat-icon-button
            style="z-index: 13;">
      <mat-icon *ngIf="isReducedMenu">chevron_right</mat-icon>
      <mat-icon *ngIf="!isReducedMenu">chevron_left</mat-icon>
    </button>

  </mat-drawer>

  <mat-drawer-content [class.mat-drawer-content-reduced]="isReducedMenu"
                      [class.mat-drawer-opened-margin]="!isReducedMenu"
                      style="padding: 5vh 2vw;">

    <router-outlet></router-outlet>

  </mat-drawer-content>
</mat-drawer-container>



