<div class="translation-container">
  <div class="row translation-title">
    <h3>Translation key: {{ key }}</h3>
  </div>
  <div class="row translation-content">
    <div class="col-sm-12 col-md-6 translation-helpers">
      Nested keys:<br/>
      <span [innerHTML]="nestedTooltip"></span>
    </div>
    <div class="col-sm-12 col-md-6 translation-value">
      <p>Translation:</p>
      <textarea (ngModelChange)="inputChange()" [(ngModel)]="entry.value"
                matInput
                placeholder="Translated content"
                spellcheck="true"
      ></textarea>
    </div>
  </div>
  <div class="row translation-actions">
    <div class="col-12">
      <button (click)="deleteKey()" color="warn" mat-flat-button>
        <mat-icon>delete</mat-icon>
        Delete translation key
      </button>
      <button (click)="resetValue()" mat-stroked-button>
        <mat-icon>undo</mat-icon>
        Revert changes
      </button>
      <button (click)="showHistory()" mat-stroked-button>
        <mat-icon>history</mat-icon>
        Show history
      </button>

      <div class="vertical-split"></div>

      <button (click)="cancel()" color="warn" mat-flat-button>
        <mat-icon>close</mat-icon>
        Cancel
      </button>
      <button (click)="save()" color="primary" mat-flat-button>
        <mat-icon>done</mat-icon>
        Save
      </button>
    </div>
  </div>

</div>
