<h2 mat-dialog-title>Name of the new translation key</h2>

<mat-dialog-content class="mat-typography">
  <form class="modal-form">
    <mat-form-field class="full-width">
      <input [(ngModel)]="keyName" matInput name="keyName">
    </mat-form-field>
  </form>

</mat-dialog-content>

<mat-dialog-actions style="justify-content: center; margin-bottom: 0;">
  <button (click)="close()" mat-button mat-dialog-close>Cancel</button>
  <button (click)="addKey()" color="primary" mat-dialog-close mat-flat-button>
    Add Key
  </button>
</mat-dialog-actions>
