@import "src/colors";

mat-drawer-container {
  top: 60px;
  height: calc(100vh - 60px);
}

mat-drawer {
  width: 200px;
  background-color: $background-grey;
}

.title {
  position: fixed;
  top: 0;
  width: 200px;
  height: 60px;
  padding-top: 12px;
  border-right: 1px solid rgba(255, 255, 255, 0.12);
  text-align: center;
}

.title h1 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
}

.mat-drawer-reduced {
  width: 64px;
}

.mat-drawer-content-reduced {
  margin-left: 64px !important;
}

mat-drawer button {
  color: white;
  width: 100%;
  height: 48px;
  text-align: left;
  border-radius: 0;
  margin: 4px 0;
}

mat-drawer button mat-icon {
  margin-top: -2px;
}

mat-drawer button span {
  margin-left: 6px;
}

mat-drawer button.active {
  border-left: 4px solid $primary-color;
}

mat-drawer .sub-menu {
  padding-left: 42px;
}

mat-drawer button.extend-close-navbar-btn {
  position: absolute;
  width: initial;
  height: 24px;
  right: 12px;
  bottom: 8px;
}

mat-drawer button.extend-close-navbar-btn mat-icon {
  background-color: $background-black;
  border-radius: 4px;
  margin-top: -18px;
}

mat-drawer-content {
  margin-left: 0;
  height: 100vh;
  background-color: $background-light;
}
