<div (click)="fileInput.click()" (fileDropped)="uploadFile($event)" appDragDrop class="upload-file-container">
  <input #fileInput (change)="uploadFile($event.target.files)" [accept]="accept" hidden type="file">
  <div class="placeholder">
    <p>
      <mat-icon>upload</mat-icon>
    </p>
    <p>Allowed formats: {{ accept }}</p>
    <p>Optional: Chose a file or drag it here</p>
  </div>
</div>
<div *ngIf="file" class="files-list">
  <p>{{ file.name}}</p>
  <button (click)="deleteFile()" class="delete-file">
    <mat-icon>delete</mat-icon>
  </button>
</div>
