
$dark-black: #2E3137;
$dark-grey: #3E3E3E;
$dark-navy: #033243;

$background-black: #202225;
$background-dark: #2E3137;
$background-grey: #3F434B;
$background-light: #35393E;

$primary-color: #02CFFC;
$accent-color: #008CD1;
$warn-color: #FF546C;
$green-color: #00ffc3;
