<div *ngIf="manifest" class="row">
  <div class="col-12 col-md-6 col-lg-8 header">
    <p>
      <span>
        use <code>[one] & [many]</code> for plurals, and <code>[0], [1], [...]</code> for arrays.
      </span>
      <br/>
      <span *ngIf="project && project.archived">
        <u>This project is archived and cannot be edited.</u>
      </span>
      <span *ngIf="project && !project.archived">
          <b>Do not store sensitive data here</b>
      </span>
    </p>
  </div>

  <div class="col-12 col-md-3 col-lg-2">
    <button (click)="openAddEntryDialog();" [disabled]="project && project.archived" class="action add-entry"
            color="primary"
            mat-flat-button>
      <mat-icon>translate</mat-icon>
      Add Translation key
    </button>
  </div>
  <div class="col-12 col-md-3 col-lg-2">
    <button (click)="openCommitDialog();" [disabled]="(project && project.archived) || !changesHasBeenMade"
            class="action commit"
            color="warn" mat-flat-button>
      <mat-icon>upload</mat-icon>
      Commit
    </button>
  </div>

  <hr class="col-12 separator"/>
</div>


<div *ngIf="manifest" class="row">
  <div class="col-sm-12 col-md-10">
    <mat-button-toggle-group class="locales" style="overflow:visible;">
      <mat-button-toggle (click)="selectedLocale = locale" *ngFor="let locale of manifest.locales"
                         [class.mat-button-toggle-checked]="selectedLocale === locale"
                         style="width: 72px;">
        <span (click)="deleteLocale(locale)" class="remove-locale-badge">X</span>
        <mat-icon *ngIf="isLocaleMissAKey(locale)"
                  matTooltip="{{ countMissingTranslationForLocale(locale) }}/{{ manifest.keys.length }} missing"
                  matTooltipPosition="above"
        >warning
        </mat-icon>
        {{ locale }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="col-sm-12 col-md-2">
    <button (click)="openAddLocaleDialog()" [disabled]="project && project.archived" class="action add-locale"
            color="primary"
            mat-flat-button>
      <mat-icon>flag</mat-icon>
      Add a locale
    </button>
  </div>
</div>


<div *ngIf="!manifest" class="row">
  <div style="margin: auto;">
    <mat-spinner [diameter]="128"></mat-spinner>
  </div>
</div>


<div class="row">
  <mat-form-field class="col-11">
    <mat-label>Filter translation keys</mat-label>
    <input [(ngModel)]="filterSearchText" matInput placeholder="homepage, payment_page.title"/>
  </mat-form-field>

  <div class="col-1">
    <button [matMenuTriggerFor]="advancedFiltersMenu" class="action" mat-button>
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #advancedFiltersMenu xPosition="before">
      <button mat-menu-item>
        <mat-checkbox
            [(ngModel)]="filterShowMissingTranslationOnly">
          {{ filterShowMissingTranslationOnly ? 'Show missing translations only' : 'Show all translations' }}
        </mat-checkbox>
      </button>
    </mat-menu>
  </div>
</div>

<div *ngIf="manifest" class="row">
  <div *ngIf="manifest.locales.includes(selectedLocale)" class="col-12 cards-container">
    <mat-card class="col-12 mat-elevation-z0 row translation-header">
      <span class="row">
        <span class="col-1">Status</span>
        <span class="col-3">Translation Key</span>
        <span class="col-6">Text Preview</span>
        <span class="col-2 center">Actions</span>
      </span>
    </mat-card>
    <span *ngFor="let key of manifest.keys">
    <app-translation-row (changeHappened)="refresh()"
                         *ngIf="shouldDisplayTranslationKey(key)"
                         [key]="key"
                         [manifest]="manifest"
                         [originalManifest]="originalManifest"
                         [project]="project"
                         [selectedLocale]="selectedLocale"
                         class="row"
    ></app-translation-row>
  </span>
  </div>
</div>


