<h2 mat-dialog-title>Create a new project</h2>

<mat-dialog-content class="mat-typography">
  <form class="modal-form">
    <mat-form-field *ngIf="organizations" appearance="fill" class="full-width">
      <mat-label>Organization</mat-label>
      <mat-select [(ngModel)]="project.organizationId" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let organization of organizations; trackBy: trackByOrganizationId"
                    [value]="organization.id">
          {{ organization.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input [(ngModel)]="project.name" id="name" matInput name="name" required>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions style="float: right">
  <button (click)="close()" mat-button>Cancel</button>
  <button (click)="create()" color="primary" mat-flat-button>Create</button>
</mat-dialog-actions>
